---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>&copy; {currentYear} S. Zhang Laboratory at UTSouthwestern. All rights reserved.</p>
  </div>
</footer>
