---
---

<header>
  <div class="container header-content">
    <a href="/" class="logo">S. Zhang Lab</a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Research & Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
